.course-content {
  border-top: 1px solid #00ffb9;
  border-bottom: 1px solid #00ffb9;

  .course-content-list {
    li {
      color: #fff;
      list-style: none;
      padding: 12px 18px;
      font-weight: 800;
      font-size: 15px;
    }
  }
}
