@import "../../mixins.scss";

.container {
  color: white;
  padding-bottom: 2rem;
  cursor: pointer;
  @include md {
    padding-bottom: 1.6rem;
  }
  .innerContainer {
    display: flex;
    gap: 14px;
    @include lg {
      gap: 16px;
    }
    .wrapper {
      flex-grow: 2;
      .image {
        border-radius: 10px;
        @include gg {
          object-fit: cover;
          object-position: top;
          width: 64px;
          height: 64px;
          border-radius: 2px;
        }
      }
    }

    .searchContent {
      flex-grow: 2;
      .contentContainer {
        display: flex;
        flex-direction: column;
        gap: 2px;
        @include md {
          gap: 5px;
        }
        .heading {
          font-weight: 600;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          font-size: 16px;
          color: white;
          line-height: 1.1;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          @include xsm {
            font-size: 16px;
          }
          @include md {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.3;
          }
          @include xl {
            font-size: 24px;
            font-weight: 600;
            line-height: 1.4;
          }
        }

        .description {
          font-weight: 300;
          color: #a8a8a8;
          line-height: 1.3;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          @include gg {
            font-size: 14px;
          }
          @include op {
            font-size: 12px;
            line-height: 1.2;
          }
        }

        .authorName {
          color: #c6c6c6;
          font-size: 11px;
          line-height: 20px;
          @include md {
            font-size: 16px;
            line-height: 24px;
          }
        }

        .starRatings {
          display: flex;
          gap: 7px;
          align-items: center;
          @include md {
            gap: 10px;
          }
          p {
            font-size: 11px;
            font-weight: 100;
            @include sm {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
